/* Zusatz für kleinere Bildschirme */
@media (max-width: 767px) {
  .navbar-brand {
    font-size: 1.2rem;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .text-success {
    font-size: 1.5rem;
  }

  .btn {
    font-size: 0.9rem;
  }

  footer p {
    font-size: 0.8rem;
  }
}
